@model OLI_it.Web.Models.Stamm
@using System.Security.Claims

<div class="entity-card stamm-card">
    <div class="entity-card-header">
        <div class="header-left-content">
            @if (!string.IsNullOrEmpty(Model.Datei))
            {
                <div class="header-thumbnail">
                    @await Component.InvokeAsync("ImageThumbnail", new { dateiPath = Model.Datei, altText = $"Stamm {Model.Stamm1} Image", width = 60, height = 60 })
                </div>
            }
            <h2>@Model.Stamm1</h2>
        </div>
        <a href="/stamm/@Model.StammGuid/statistics" class="card-meta-box card-meta-box-link" title="Statistics Overview">
            <span class="card-meta-datum">@Model.Datum.ToString("dd MMM yyyy")</span>
            @if (Model.KooK.HasValue)
            {
                <span class="card-meta-value">@Model.KooK.Value.ToString("N")</span>
            }
            <span class="card-meta-stats-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07z"/>
                </svg>
                stats
            </span>
        </a>
        @if (User.Identity?.IsAuthenticated == true && User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.StammGuid.ToString())
        {
            <a href="/stamm/edit/@Model.StammGuid" class="edit-btn" title="Edit Stamm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
            </a>
        }
        <a href="/" class="close-btn" title="Close to Home">&times;</a>
    </div>
    @if (!string.IsNullOrEmpty(Model.Beschreibung) || !string.IsNullOrEmpty(Model.Link))
    {
        <div class="entity-card-body">
            @if (!string.IsNullOrEmpty(Model.Beschreibung))
            {
                <div class="entity-description">
                    @Model.Beschreibung
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Link))
            {
                <div class="entity-link">
                    <a href="@Model.Link" target="_blank">@Model.Link</a>
                </div>
            }
        </div>
    }

</div>
